pipeline/incremental_loop_ingestion.json
{
	"name": "incremental_loop_ingestion",
	"properties": {
		"activities": [
			{
				"name": "ingest_all_raw_file",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.loop_data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "db_to_dl",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "get_last_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "current",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * \nFROM @{item().schema}.@{item().table} \nWHERE @{item().cdc_col} > '@{if(\n    empty(item().from_date),\n    activity('get_last_cdc').output.value[0].cdc,\n    item().from_date\n)}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "db_azureproject",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "bronze_data",
									"type": "DatasetReference",
									"parameters": {
										"continer": "bronze",
										"folder": {
											"value": "@{item().table}\n",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().table, '_', variables('current'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "get_last_cdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "dymaic_Json",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@concat(item().table,'_cdc')",
											"type": "Expression"
										},
										"file": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "check_to_get_max_cdc",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "db_to_dl",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('db_to_dl').output.dataRead, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Deletetable",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "bronze_data",
												"type": "DatasetReference",
												"parameters": {
													"continer": "bronze",
													"folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(item().table, '_', variables('current'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "get_max_date",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat(\n  'SELECT MAX(',\n  item().cdc_col,\n  ') AS max_date FROM ',\n  item().schema,\n  '.',\n  item().table\n)\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "update_max_cdc",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "get_max_date",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('get_max_date').output.resultSets[0].rows[0].max_date\n",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "dymaic_Json",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@concat(item().table, '_cdc')",
														"type": "Expression"
													},
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "dymaic_Json",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@concat(item().table, '_cdc')",
														"type": "Expression"
													},
													"file": "cdc.json"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "current",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"loop_data": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_col": "date",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_col": "stream_timestamp",
						"from_date": ""
					}
				]
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}